PORT= 8000
DATABASE_URI = mongodb+srv://sujan:your-password@cluster0.n6kr2q8.mongodb.net
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET = sujan_backend
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = sujan_backend
REFRESH_TOKEN_EXPIRY = 30d


CLOUDINARY_CLOUD_NAME = doudf9gm7
CLOUDINARY_API_KEY = 316876971443579
CLOUDINARY_API_SECRET =ufW1qwwaiuFujxwR1Pd5M1chHdE